.additionally {
  padding: 25px 0 35px;
  overflow: hidden;

  @media (min-width: $tablet-width) {
    padding-bottom: 75px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 33px;
    padding-bottom: 87px;
  }
}

.additionally__wrapper {
  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;
  }
}

.additionally__list {
  margin: 0;
  padding: 0;
  list-style: none;
  margin-bottom: 34px;

  @media (min-width: $tablet-width) {
    margin-bottom: 70px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 0;
  }
}

.additionally__item {
  padding: 15px 0 17px;
  border-top: 1px solid #cdcdcd;
  border-bottom: 1px solid #cdcdcd;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  @media (min-width: $tablet-width) and (max-width: 1439px) {
    padding: 27px 37px 26px;
    border: 1px solid #cdcdcd;
  }

  @media (min-width: $desktop-width) {
    padding-top: 16px;
    padding-bottom: 14px;
    align-items: center;
  }
}

.additionally__item h3 {
  margin-bottom: 11px;

  @media (min-width: $tablet-width) {
    margin-bottom: 24px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 0;
  }
}

.additionally__item div {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;

  @media (min-width: $tablet-width) {
    justify-content: flex-end;
    gap: 50px;
    margin-top: 5px;
    margin-right: 2px;
  }

  @media (min-width: $desktop-width) {
    justify-content: space-between;
    gap: 113px;
    margin-right: 40px;
    margin-bottom: 0;
    margin-top: 0;
  }
}

.additionally__title {
  font-size: 24px;
  line-height: 24px;
  margin-bottom: 35px;
  max-width: 226px;

  @media (min-width: $tablet-width) {
    min-width: 340px;
    font-size: 36px;
    line-height: 36px;
    margin-left: 40px;
    margin-bottom: 80px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 0;
  }
}

.additionally__text {
  line-height: 14px;
}

.additionally__link {
  padding: 10px 0;
  display: block;
  text-align: center;

  @media (min-width: $tablet-width) {
    grid-column: 1/3;
    font-size: 16px;
    line-height: 20px;
  }

  @media (min-width: $desktop-width) {
    grid-column: 3/3;
    min-width: 245px;
  }
}

.additionally__item--title {
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
}

.additionaly-description {
  line-height: 14px;
}
