.additionally-prize {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #68b738;
  align-items: center;
  padding: 60px 60px 45px;
}

.additionally-prize::before {
  content: " ";
  width: 80px;
  height: 80px;
  display: block;
  mask-image: url("../../images/icons/stack.svg#present");
  background-color: $color-accent;
  mask-repeat: no-repeat;
  top: 60px;
}

.additionally-prize__text {
  font-size: 16px;
  line-height: 20px;
  color: $color-accent;
  text-align: center;
}
