.additionally {
  padding: 25px 0 19px;
}

.additionally__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.additionally__title {
  font-size: 24px;
  line-height: 24px;
}

.additionally__text {
  line-height: 14px;
}

.additionally__link {
  padding: 10px 0;
  display: block;
  text-align: center;
}

.additionally-prize__text {
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  background-color: rgba(104, 183, 56, 0.85);
}

.additionally__item--title {
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
}

.additionaly-description {
  line-height: 14px;
}
