.catalog-more {
  grid-template-columns: 1fr;
  padding: 25px 0;

  @media (min-width: $tablet-width) {
    background: $color-accent;
    border: 2px solid $basic-grey;
    padding: 50px 35px 40px;
    margin-top: 70px;
  }

  @media (min-width: $desktop-width) {
    padding: 49px 35px 37px;
  }
}

.catalog-more::before {
  content: "";
  display: block;
  background-image: url("../../images/icons/stack.svg#plus");
  width: 30px;
  height: 30px;
  margin: 0 auto;
  margin-bottom: 23px;

  @media (min-width: $tablet-width) {
    width: 60px;
    height: 60px;
    margin-bottom: 48px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 38px;
  }
}

.catalog-more__title {
  min-width: 204px;
  margin-bottom: 8px;

  @media (min-width: $tablet-width) {
    margin-bottom: 21px;
    padding: 0 20px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 25px;
  }
}

.catalog-more__text {
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    margin-bottom: 79px;
    text-align: center;
    padding: 0 25px;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
    margin-bottom: 88px;
  }
}

.catalog-more__btn {
  @media (min-width: $tablet-width) {
    padding: 10px 80px;
    font-size: inherit;
    line-height: 20px;
  }

  @media (min-width: $desktop-width) {
    padding: 10px 40px;
  }
}
