.control {
  margin: 0;
}

.control__input[type="radio"] + .control__input-mark {
  border-radius: 50%;
}

.control__input-mark {
  display: block;
  width: 30px;
  height: 30px;
  border: 2px solid #cdcdcd;
  background-color: $color-accent;
  cursor: pointer;
  position: absolute;
}

.control__input[type="radio"]:checked + .control__input-mark::before {
  content: "";
  width: 13px;
  height: 13px;
  position: absolute;
  top: 7px;
  left: 6px;
  background-color: $basic-green;
  border-radius: 50%;
}

.control__input[type="checkbox"]:checked + .control__input-mark::before {
  content: "";
  width: 26px;
  height: 26px;
  display: block;
  background-image: url("../../images/icons/stack.svg#mark");
  background-position: center;
  background-repeat: no-repeat;
}
