.example {
  background-color: #eaeaea;
  padding-top: 25px;

  @media (min-width: $tablet-width) {
    background: linear-gradient(180deg, $color-accent 59%, #eaeaea 49%);
    padding-top: 89px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 26px;
    padding-bottom: 54px;
    background: linear-gradient(180deg, #ffffff 30%, #eaeaea 20%);
  }
}

.example__container {
  padding-bottom: 40px;

  @media (min-width: $tablet-width) {
    padding-bottom: 101px;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 220px;
    padding-bottom: 0;
  }
}

.example__title {
  line-height: 40px;
  margin-bottom: 40px;

  @media (min-width: $tablet-width) {
    line-height: 60px;
    margin-bottom: 60px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 145px;
    margin-top: 42px;
  }
}

.example__text {
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    margin-bottom: 55px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 70px;
  }
}

.example__text br {
  display: none;

  @media (min-width: $desktop-width) {
    display: block;
  }
}

.example__wrapper {
  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 66px;
  }

  @media (min-width: $desktop-width) {
    flex-direction: column;
    justify-content: start;
    align-items: start;
    margin-bottom: 0;
  }
}
