.form {
  padding: 27px 0 32px;
}

.form__text {
  font-family: $primary-font;
  text-transform: uppercase;
}

.form__list {
  padding: 0;
  list-style: none;
}

.form__label {
  font-size: 16px;
  text-transform: uppercase;
  color: $dark-grey;
}

.form__input {
  font-family: $primary-font;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: $dark-grey;
  padding: 14px 35px 13px 13px;
  border: 1px solid #cdcdcd;
  min-width: 100%;
}

.form__textarea {
  font-family: $primary-font;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 18px;
  color: $dark-grey;
  text-align: center;
  width: 280px;
  height: 150px;
  resize: none;
}

.form__button {
  display: block;
}

.form__warning {
  font-family: $secondary-font;
  line-height: 16px;
}
