.main-footer {
  padding: 37px 0 26px;
  background-color: $basic-grey;

  @media (min-width: $desktop-width) {
    padding: 49px 0 45px;
  }
}

.main-footer__container {
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    justify-content: space-between;
  }
}

.main-footer__logo {
  align-self: center;
  margin-bottom: 18px;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
  }
}

.main-footer__logo svg {
  color: #111111;
}

.main-footer__logo:hover svg {
  color: #3e3e3e;
}

.main-footer__logo:focus-visible svg {
  color: $basic-green;
}

.main-footer__logo:active svg {
  color: #6b6b6b;
}

.main-footer__social-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  align-self: center;
  flex-wrap: wrap;
  max-width: 200px;

  @media (min-width: $tablet-width) {
    margin-right: -35px;
  }
}

.main-footer__social-link {
  display: block;
  padding: 20px 12px;
}

.main-footer__social-link svg {
  fill: #666666;
  flex-shrink: 0;
}

.main-footer__social-link:hover svg {
  fill: $basic-green;
}

.main-footer__social-link:focus svg {
  fill: $basic-green;
}

.main-footer__social-link:active svg {
  opacity: 0.3;
  fill: $basic-green;
}
