.main-header {
  padding: 13px 0 11px;

  @media (min-width: $desktop-width) {
    position: absolute;
    width: 100%;
    z-index: 1;
  }
}

.main-header__container {
  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 3px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 37px;
  }
}

.main-header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;


  @media (min-width: $tablet-width) {
    display: flex;
    gap: 18px;
    padding: 0;
  }
}

.main-header__logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.9s;

  @media (min-width: $tablet-width) {
    min-width: 0;
    gap: 13px;
    justify-content: flex-start;
  }
}

.main-header__logo:nth-child(2) {
  position: relative;
  right: 5px;
}

.main-header__logo:hover img {
  opacity: 0.8;
  transform: scale(1.1);
}

.main-header__logo:focus img {
  opacity: 0.8;
}

.main-header__logo:active img {
  opacity: 0.6;
}
