.main-nav {
  display: flex;
  flex-direction: column;
}

.main-nav__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.main-nav__link {
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
  text-decoration: none;
  color: $color-basis;
  display: flex;
  align-items: center;
  min-height: 70px;
  min-width: 320px;
  justify-content: center;
}

.main-nav__link:hover {
  opacity: 0.6;
}
