.map {
  padding: 26px 0 0;
  background-color: $basic-grey;

  @media (min-width: $tablet-width) {
    padding: 61px 0 0;
  }

  @media (min-width: $desktop-width) {
    position: relative;
    padding: 0;
  }
}

.map iframe {
  margin: 0;
  padding: 0;
  border: none;
  width: 100%;
  height: 362px;
  position: relative;
  z-index: 1;

  @media (min-width: $tablet-width) {
    height: 400px;
  }
}


.map__wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;

  @media (min-width: $tablet-width) {
    padding: 0 40px 0;
    margin-bottom: 61px;
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    background-color: $color-accent;
    z-index: 111;
    top: 95px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 79px;
    padding: 60px 80px;
    padding-right: 66px;
  }
}


.map__text {
  font-size: 16px;
  line-height: 20px;
  margin: 0;
  text-transform: uppercase;
  color: #111111;
  max-width: 140px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 26px;
    max-width: 170px;
  }
}

.map__address {
  font-family: $secondary-font;
  font-style: normal;
  line-height: 20px;

  @media (min-width: $tablet-width) {
    text-align: end;
  }

  @media (min-width: $desktop-width) {
    text-align: start;
  }
}

.map__reserve {
  position: absolute;
  width: 100%;
  z-index: -11;
  display: none;
}

.map__reserve img {
  display: block;
  max-height: 362px;
  max-width: 100%;
  object-fit: cover;

  @media (min-width: $tablet-width) {
    max-height: 400px;
  }
}

.map__reserve--nojs {
  display: block;
  z-index: 2;
}
