.options-card {
  background-color: $basic-grey;
  position: relative;
  padding: 30px 33px 18px 20px;
  margin-bottom: 20px;
}

.options-card__title {
  margin-left: 30px;
  margin-bottom: 30px;
  text-align: center;
}

.options-card__text {
  margin-bottom: 38px;
}

.title--base {
  font-size: 24px;
  line-height: 37px;
}

.options-card__link {
  color: $color-basis;
  text-align: center;
  font-family: $primary-font;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  text-decoration: none;
}

.options-card--slim::before {
  content: " ";
  position: absolute;
  top: 20px;
  left: 27px;
  display: block;
  width: 36px;
  height: 50px;
  mask-image: url("../../images/icons/stack.svg#cat-slim");
  mask-repeat: no-repeat;
  background-color: $color-basis;
  z-index: 1;
  transition: 0.3s ease-in-out;
}

.options-card--pro::before {
  content: " ";
  position: absolute;
  top: 35px;
  left: 13px;
  display: block;
  width: 67px;
  height: 28px;
  mask-image: url("../../images/icons/stack.svg#cat-pro");
  mask-repeat: no-repeat;
  background-color: $color-basis;
  z-index: 1;
  transition: 0.3s ease-in-out;
}

.options-card::after {
  content: " ";
  position: absolute;
  top: 24px;
  left: 20px;
  display: block;
  width: 50px;
  height: 50px;
  background-color: $basic-green;
  border-radius: 50%;
}
