.options {
  margin: 0;
}

.options__list {
  padding: 0;
  margin: 0;
  list-style: none;

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: repeat(2, 570px);
    gap: 80px;
  }
}
