.stats-list {
  margin: 0;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.stats-list__item {
  text-align: center;
  border: 1px solid #cdcdcd;
  padding: 11px 20px 11px;
  position: relative;
  border-radius: 5px;
}

.stats-list__number {
  font-size: 24px;
  line-height: 24px;
  width: 82px;
  margin: 0 auto;
  margin-bottom: 8px;
}

.stats-list__description {
  font-size: 12px;
  line-height: 12px;
  max-width: 77px;
  position: absolute;
  bottom: -15px;
  left: 23px;
  background: #eaeaea;
}
