.title {
  font-weight: inherit;
  margin: 0;
  padding: 0;
}

.title--xl {
  font-size: 36px;
  line-height: 36px;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
  }
}

.title--base {
  text-transform: uppercase;
  font-size: 24px;
  line-height: 37px;

  @media (min-width: $tablet-width) {
    font-size: 36px;
    line-height: 36px;
  }
}

.title--add {
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
}

// ЛИНИЯ ДЛЯ ЗАГОЛОВКА
.title--line {
  position: relative;
  max-width: 187px;

  @media (min-width: $tablet-width) {
    max-width: 512px;
  }
}

.title--line::before {
  content: "";
  position: absolute;
  top: 50%;
  right: calc(100% + 30px);
  width: 100vw;
  height: 2px;
  background-color: $basic-green;
}

.title--line::after {
  content: "";
  position: absolute;
  top: 50%;
  left: calc(100% + 20px);
  width: 100vw;
  height: 2px;
  background-color: $basic-green;
}
