// ЛИНИЯ ДЛЯ ЗАГОЛОВКА
.title-line {
  position: relative;
  max-width: 187px;

  @media (min-width: $tablet-width) {
    max-width: 512px;
  }
}

.title-line::before {
  content: "";
  position: absolute;
  top: 50%;
  right: calc(100% + 30px);
  width: 100vw;
  height: 2px;
  background-color: $basic-green;
}

.title-line::after {
  content: "";
  position: absolute;
  top: 50%;
  left: calc(100% + 20px);
  width: 100vw;
  height: 2px;
  background-color: $basic-green;
}
