.title {
  font-weight: inherit;
  margin: 0;
  padding: 0;
}

.title--xl {
  font-size: 36px;
  line-height: 36px;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
  }
}

.title--base {
  text-transform: uppercase;
  font-size: 24px;
  line-height: 37px;

  @media (min-width: $tablet-width) {
    font-size: 36px;
    line-height: 36px;
  }
}

.title--add {
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
}
