.title {
  font-weight: inherit;
  margin: 0;
  padding: 0;
}

.title--xl {
  font-size: 36px;
  line-height: 36px;
}

.title--base {
  text-transform: uppercase;
}

.title--add {
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
}
